__pycache__/
*.py[cod]
*.class

.ipynb_checkpoints/
.vscode/

.env
*.env

venv/
env/
.venv/
ENV/
Pipfile.lock

*.tsv
*.xlsx
*.xls
*.db
*.sqlite

*.pkl
*.joblib
*.h5

*.log

*.pid
*.tar
*.sock
docker-compose.override.yml

.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

.cache/
.mypy_cache/
~

build/
dist/
*.egg-info/
